[workspace]
authors = ["Guilherme Leobas <guilhermeleobas@gmail.com>"]
channels = ["conda-forge"]
name = "cpython"
platforms = ["osx-arm64"]
version = "0.1.0"

[tasks]
configure = { cmd = "./configure --with-pydebug --with-openssl=$CONDA_PREFIX --with-ensurepip=install", cwd = "../../../cpython" }
make = { cmd = "make -s -j10", cwd="../../../cpython", depends-on = ["configure"] }
clone = { cmd = "git clone git@github.com:guilhermeleobas/cpython.git --single-branch $p" }

[activation.env]
p = "../../../cpython"

[dependencies]
zlib = ">=1.3.1,<2"
zlib-ng = ">=2.2.5,<3"
bzip2 = ">=1.0.8,<2"
pdbpp = ">=0.11.7,<0.12"
python-build = ">=1.3.0,<2"
cmake = ">=4.1.2,<5"
pkg-config = ">=0.29.2,<0.30"
